name: 1 Deploy Develop 

concurrency: develop

on:
  workflow_dispatch:  
  push:
    branches:
      - main
      - 'fix/**'
      - 'feat/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - '.github/workflows/**'
        
env:
  AMBIENTE: develop
  VERSION: 0.0.1
  HASH: ${{ github.sha }}
  MULE_ENV: Sandbox
  ENV: dev

jobs:
  MuleTest:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '8'
        cache: 'maven'
    - name: maven-settings-xml-action
      uses: whelk-io/maven-settings-xml-action@v20
      with:
        servers: |
          [
            {
              "id": "anypoint-exchange", 
              "username": "~~~Client~~~",
              "password": "${{secrets.MULE_CLIENT_ID}}~?~${{secrets.MULE_CLIENT_SECRET}}"
            },
            {
              "id": "MuleRepository", 
              "username": "${{secrets.MULE_REPO_USER}}",
              "password": "${{secrets.MULE_REPO_PASSWORD}}"
            }
          ]
        repositories: |
          [
            {
              "id": "MuleRepository",
              "url": "https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/"
            }
          ]
    - name: "Asignar versi贸n fix/x.x."
      if: ${{contains(github.ref, 'fix')}}
      run: |
        echo "# Version: ${GITHUB_REF:15}-$HASH" >> $GITHUB_STEP_SUMMARY
    - name: "Asignar versi贸n main"
      if: ${{!contains(github.ref, 'fix')}}
      run: |
        echo "# Version: $VERSION-$HASH" >> $GITHUB_STEP_SUMMARY
    - name: "Changelog"
      run: |
        cat CHANGELOG.md >> $GITHUB_STEP_SUMMARY
    - name: "Pruebas MUnit"
      run: |
        mvn clean test -Denv=$ENV -Dlicense.skip=true
    - name: "Publicar resultados de pruebas"
      uses: EnricoMi/publish-unit-test-result-action@v2.0.0
      if: always()
      with:
        junit_files: "target/surefire-reports/*.xml"
  MuleDeploy:
    needs: MuleTest
    runs-on: ubuntu-22.04
    environment: Develop
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '8'
        cache: 'maven'
    - name: maven-settings-xml-action
      uses: whelk-io/maven-settings-xml-action@v20
      with:
        servers: |
          [
            {
              "id": "anypoint-exchange", 
              "username": "~~~Client~~~",
              "password": "${{secrets.MULE_CLIENT_ID}}~?~${{secrets.MULE_CLIENT_SECRET}}"
            },
            {
              "id": "MuleRepository", 
              "username": "${{secrets.MULE_REPO_USER}}",
              "password": "${{secrets.MULE_REPO_PASSWORD}}"
            }
          ]
        repositories: |
          [
            {
              "id": "MuleRepository",
              "url": "https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/"
            }
          ]

    - name: Obtener nombre de proyecto
      run: |
        import os, re
        from xml.etree import ElementTree

        # Obtiene nombre del POM
        namespaces = {'xmlns' : 'http://maven.apache.org/POM/4.0.0'}
        tree = ElementTree.parse("pom.xml")
        root = tree.getroot()
        name = root.find("./xmlns:name", namespaces=namespaces)
        print(f"pom/name: {name}")

        # Convirte nombre a un nombre DNS valido
        nombre = re.sub(r"[^a-zA-Z0-9]+", "-", name.text).lower()
        print(f"nombre_limpio: {nombre}")      

        # Escribe variable
        print("Escribiendo nombre en GITHUB_ENV")
        with open(os.getenv('GITHUB_ENV'), "a") as github_env:
          github_env.write(f"nombre_limpio={nombre}")
      shell: python
    - name: "Asignar versi贸n fix/x.x."
      if: ${{contains(github.ref, 'fix')}}
      run: |
        mvn versions:set -DnewVersion=${GITHUB_REF:15}-$HASH
    - name: "Asignar versi贸n main"
      if: ${{!contains(github.ref, 'fix')}}
      run: |
        mvn versions:set -DnewVersion=$VERSION-$HASH
    - name: "Construir y Publicar en Exchange"
      run: |
        mvn deploy -Denv=$ENV -Dlicense.skip=true -DskipTests || echo "No se publico en exchange"
    - name: "Desplegar"
      run: |
        mvn package deploy\
         -DmuleDeploy\
         -DskipTests\
         -Dlicense.skip=true\
         -Dclientid=${{secrets.MULE_CLIENT_ID}}\
         -Dclientsecret=${{secrets.MULE_CLIENT_SECRET}}\
         -Dappname=${{env.nombre_limpio}}-$AMBIENTE\
         -Denvironment=$MULE_ENV\
         -Danypoint_client_id=${{secrets.ANYPOINT_CLIENT_ID}}\
         -Danypoint_client_secret=${{secrets.ANYPOINT_CLIENT_SECRET}}\
         -Dreplicas=1\
         -Denv=$ENV